/* ページ全体のレイアウト */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* フォーム全体 */
.form {
    flex: 1;
    /* フォームが画面全体を埋めるように設定 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 中央に配置 */
    align-items: center;
    /* 横方向に中央に配置 */
}

/* ヘッダー部分 */
.titleArea {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

.inputArea input {
    width: 200px;
    height: 25px;
    margin: 5px auto;
    background-color: #f1f1f1;
    border: 1px solid #aca9a9;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
}

/* エラー表示部分 */
.form__error {
    color: red;
    margin-top: 5px;
}

/* ボタンのスタイル */
.loginButton {
    width: 200px;
    height: 30px;
    padding: 3px 20px;
    font-size: 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* 登録リンクのスタイル */
.annonceForNoAccount {
    margin-top: 20px;
    text-align: center;
}

.registerLink {
    color: blue;
}